<div class="container">
  <h1>My To Do List</h1>

  <div>
  <mat-form-field class="example-form-field">
    <mat-label>Добавить задачу</mat-label>
    <input
      matInput
      #newItem 
      type="text" 
      (keyup.enter)="addItem(newItem.value); newItem.value = ''"
      id="addItemInput"
    >
    @if (newItem.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="newItem.value=''">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
  <button style="margin-left: 10px;" (click)="addItem(newItem.value); newItem.value = ''" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
    <mat-icon>add</mat-icon>
  </button>
  </div>

  <div>
    <button
      [class.active]="filter == 'all'"
      (click)="filter = 'all'">
      All
    </button>
  
    <button
      class="btn btn-menu"
      [class.active]="filter == 'active'"
      (click)="filter = 'active'">
      To Do
    </button>
  
    <button
      class="btn btn-menu"
      [class.active]="filter == 'done'"
      (click)="filter = 'done'">
      Done
    </button>
  </div>

  <h2>
    {{items.length}}
    <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h2>
  
  <ul>
    <li *ngFor="let i of items">
      <app-item (remove)="remove(i)" [item]="i"></app-item>
    </li>
  </ul>  
</div>